body {
  /*background-color: lightgrey;*/
}

.main-title {
  text-align: center;
  background-color: lightblue;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
}


.cheapPrice {
  background-color: #C9CCA7;
}

.midPrice {
  background-color: #9B9E7B;
}

.expensivePrice {
  background-color: #86895A;
}

.abvLow {
  color: green;
}
.abvMid {
  color: orange;
}
.abvHigh {
  color: red;
}
